@font-face {
    font-family: 'Montserrat';
    /*src: url('https://fonts.google.com/specimen/Montserrat');*/
    src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
    font-weight: 500, 700;
}

@font-face {
    font-family: 'Fraunces';
    /*src: url('https://fonts.google.com/specimen/Fraunces');*/
    src: url('fonts/Fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf');
    font-weight: 700;
}



.attribution {
    font-size: 11px;
    text-align: center;
    padding: 5px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

h4.product-category {
    font-family: 'Montserrat';
    letter-spacing: 10px;
    color: rgb(165, 165, 165);

}

div.product-category {
    font-family: 'Montserrat';
    letter-spacing: 5px;
    color: rgb(126, 126, 126);
    font-weight: bolder;
    font-size: .8em;

}

.product-title {
    font-family: 'Fraunces';
    inline-size: 7em;
    display: inline-block;
    line-height: 100%;



}

p {
    font-size: .9em;
    inline-size: 16em;
    margin-top: 0;
    font-family: 'Montserrat';
    color: rgb(90, 90, 90);
    line-height: 1.5em;

}

img {
    height: 47vh;
    border-radius: 10px 0px 0px 10px;
}

button {
    padding: 16px 64px;
    /*background-color: hsl(155, 32%, 38%);*/
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: white;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-weight: bold;
    display: flex;
    column-gap: 11px;
}

.main-container {
    background-color: hsl(30, 38%, 92%);
    padding-top: 150px;
    /*width: 90vw;*/
    width: 100vw;
    /*height: 60vh;*/
    height: 100vh;
    border-radius: 5px;
    /*margin: 0 auto;*/
}

.inner-container {
    display: flex;
    background-color: white;
    width: 45vw;
    height: 47vh;
    margin: 0 auto;
    border-radius: 10px;
}



.divDescription {
    display: flex;
    flex-flow: column;
    margin: 34px;
    justify-content: flex-start;
    min-width: auto;
}

.product-price {
    display: inline-flex;
    align-items: center;
    column-gap: 17px;
}

.divButton {
    display: flex;
    justify-content: left;

}

span {
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 10px;
}

span:nth-child(1) {
    font-family: 'Fraunces';
    color: hsl(158, 36%, 37%);
    font-size: 2em;
}

span:nth-child(2) {
    font-family: 'Montserrat';
    font-size: .8em;
    color: rgb(126, 126, 126);
    font-weight: 700;


}